* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
}

.movielist-container {
  justify-content: center;
  /* align-items: center; */
}

/* .movie-img {
  height: 100%;
} */
