* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
}

.movielist-container {
  /* justify-content: center; */
  /* align-items: center; */
}

/* .movie-img {
  height: 100%;
} */

.img-container {
  position: relative;
}

/* .film-img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
} */

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.img-container:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.img-container:hover .overlay {
  opacity: 1;
  transition: 0.2s ease;
  cursor: pointer;
}
